/* Custom Badges */

/* General */
#user-rollover .info .badge-box, 
#chat-messages .badge-box
{
	background:          none !important;
	background-size:     cover !important;
	background-repeat:   no-repeat !important;
	background-position: center center !important;
}

/* NicoFilippo */
#user-rollover.id-6566712 .badge-box > i.bdg,
.id-6566712 > .badge-box > i.bdg
{
    background-image:    url("https://nicofilippo.github.io/css-pd_thirical/badges/NicoFilippo.gif");
}

/* CandyCat141 */
#user-rollover.id-6566712 .badge-box > i.bdg,
.id-10078563 > .badge-box > i.bdg
{
    background-image:    url("https://nicofilippo.github.io/css-pd_thirical/badges/LarissaLaliia.gif");
}

/* TukiLanternTV */
#user-rollover.id-6566712 .badge-box > i.bdg,
.id-10080632 > .badge-box > i.bdg
{
    background-image:    url("https://nicofilippo.github.io/css-pd_thirical/badges/TukiLanternTV.gif");
}
